// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-button: #005FA3;

// Typography

$ff-mer: "Merriweather", "Arial", sans-serif;
$ff-lato: "Lato Light", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

//Animation

$transition-200: ease-in 0.2s;
$transition-300: ease-in 0.3s;