.header {
  padding: 20px 0 30px;
  .nav {
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    &__list {
      &-top {
        display: flex;
        gap: 44px;
      }
    }
  
    &__logo {
      &-link {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px 0 0;
        &:focus {
          outline: none;
        }
      }
      &-text {
        font-family: $ff-mer;
        font-size: 36px;
        font-weight: 900;
        line-height: 138%;
        color: #005FA3;
      }
    }
  
    &__info {
      &-item {
        display: flex;
        gap: 20px;
        align-items: center;
      }
  
      &-elements {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &-icon {
        width: 23px;
        height: 17px;
        color:#005FA3;
      }
      &-text {
        font-family: $ff-lato;
        font-size: 13px;
        font-weight: 300;
        line-height: 132%;
      }
    }
  
    &__list {
      &-bottom {
        display: flex;
        justify-content: space-between;
      }
  
      &-link {
        font-family: $ff-lato;
        font-size: 14px;
        font-weight: 700;
        color: #000000;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        transition: color $transition-200;
        letter-spacing: 0.1em;
        &:hover{
          color: #9c8d8d;
        }
        &:focus {
          outline: none;
          color: #9c8d8d;
        }
      }
    }
  
  
  }
}

